<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Form Control</strong>
      </c-card-header>
      <c-card-body>
        <form cForm [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label cLabel for="address">Location Address</label>
            <input cFormControl id="address" placeholder="Enter Address Details"
              type="text" formControlName="address" />
            <span class="text-danger"
              *ngIf="(f.address.touched || submitted) && f.address.errors?.required">
                Location is required
            </span>  
          </div>
          <div class="mb-3">
            <label cLabel for="description">Description</label>
            <textarea cFormControl id="description" rows="3" formControlName="description"
            placeholder="Enter Description Details" type="text" autocomplete="off"> </textarea>
            <span class="text-danger"
                *ngIf="(f.description.touched || submitted) && f.description.errors?.required">
                  Description is required
            </span>
          </div>
          <div class="mb-3">
            <!-- <label cLabel for="file">Files</label>
            <input formControlName="file" id="file" type="file" class="form-control"
            multiple="" (change)="onFileChange($event)" accept="image/png, image/jpg, image/jpeg"> -->
            <input type="file" #fileInput style="display:none" formControlName="file" 
            multiple="" (change)="onFileChange($event)" accept="image/png, image/jpg, image/jpeg">
            <button type="button" (click)="fileInput.click()" class="btn"  style="background-color: #F2F4F4;" 
            >Upload file</button>
            <span class="text-danger"
                *ngIf="( submitted) && f.file.errors?.required">
                  File is required
            </span>
          </div>

          <img *ngFor='let url of images'  [src]="url" height="100px" 
            width="100px" style="margin: 3px;"> 
          <div class="form-group mt-1">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
